/* Importação de fonte personalizada */
@font-face {
  font-family: 'titulo';
  src: url('assets/Daily Bubble.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Reset e configurações globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f9f9f9 center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
}
body.blur {
  backdrop-filter: blur(5px);
}

/* Cabeçalho */
header {
  width: 100%;
  background: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  font-family: 'titulo';
  font-size: clamp(16px, 3vw, 45px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

/* Rodapé */
footer {
  width: 100%;
  padding: 20px;
  text-align: right;
}

/* Conteúdo principal */
main {
  display: grid;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1300px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

section {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

/* Títulos */
h2 {
  font-size: 100%;
  color: #333;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

h2 i {
  margin-left: 10px;
  cursor: pointer;
}

/* Imagens */
img {
  display: block;
  width: 100%;
  max-height: 350px;
  margin-bottom: 10px;
  background: #eaeaea;
  border-radius: 4px;
  cursor: pointer;
}

/* Parágrafos */
p {
  font-size: 1em;
  color: #666;
}

/* Banner de vídeo */
#videoBanner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-container {
  position: relative;
  width: 80%;
  max-width: 800px;
}

#animalVideo {
  width: 100%;
  height: auto;
}

#closeBanner {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#videoBanner.hidden {
  display: none;
}

/* Botões */
button, #loginBtn, #confirmBtn {
  padding: 10px 35px;
  margin-bottom: 5px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Popups Gerais */
#loginPopup, #cadasterPopup, #recoverPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
  margin-bottom: 20px;
  font-size: 35px;
}

.popup-links a {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: blue;
}

.hidden {
  display: none !important;
}

/* Campos de entrada */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    font-size: clamp(16px, 5vw, 30px);
  }
  footer {
    text-align: center;
  }
}

@media (max-width: 480px) {
  header {
    padding: 5px;
  }
  footer {
    padding: 10px;
  }
  .popup-content {
    width: 95%;
  }
}